# Node modules
node_modules/
.pnpm/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/
.nyc_output/

# Git temporary files
*.orig

# Parcel
.cache/

# eslint cache
.eslintcache

# lock files (optional: only if you don’t want to track them)
package-lock.json
yarn.lock
pnpm-lock.yaml
